{{ define "layout" }}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>tinker example</title>
</head>
<body>
  <header>{{ template "header" . }}</header>
  <main class="container">
    {{ block "content" . }}{{ end }}
  </main>
</body>
</html>
{{ end }}
